*{
    margin: 0;
    box-sizing: border-box;
}
body{
    background-image: url(https://cdn.hovia.com/app/uploads/blue-abstract-vector-world-map-wallpaper-mural-Plain.jpg);
    background-repeat: no-repeat;
    
}
#start{
    position: relative;
    margin-top: 10vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(52, 135, 243, 0.836);
    font-size: 20px;
    font-family: cursive;
}
.continents {
    position: relative;
    margin-top: 30vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-60%);
    float: right;
    margin-right: 20px;
}

.continents div{
    margin: 9px;
    display: inline-block;
    border-radius: 16px;
    background: #e0e0e0;
    box-shadow:  6px 6px 10px #797979,
                 -6px -6px 10px #ffffff;
    width: 7vw;  
    min-width: 70px;
    height: 100px;
}
.continents div p{
    text-align: center;


}
.continents img{
    width: 30px;
    height: auto;
}
.continents  div:hover{
    color: #868686e0;
}

.top{
    height: 100vh;
    width: 100%;
    background: transparent;
}
#topbar{
    display: none;
    margin-top: 7vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40vw;
    min-width: 250px;
    height: auto;
    background-color: rgba(255, 255, 255, 0);
}
.page img{
    display: none;
    padding-bottom: 60px;
    position: relative;
    width: 200px;
    height: auto;
    top: 4vh;
    left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);

}
.option{
    display: none;
    margin-top: 50vh;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 40vw;
    min-width: 240px;
    height: auto;
    border-radius: 73px;
    background: #568bfd;
    box-shadow:  14px 14px 20px #bababa,-14px -14px 20px #ffffff;

}
.option p{
    cursor: pointer;
    padding: 19px 0px;
    margin-left: 20px;
    font-size: 21px;
    color: white;

}
.option:hover{
    box-shadow: 0px 6px 8px 2px #0000008e;
}
.option1{
    margin-top: 9vh;
}
.option2 ,.option3 ,.option4{
    margin-top: 2vh;
}
.lives{
    display: none;
    border-style: none none none solid;
    margin: 5px 11px;
    position: absolute;
    width: 10px;
    height: auto;
    padding: 5px;
}

.lives i{
    color: rgb(194, 0, 0);
    font-size: 20px;
    padding:2px;


}
.lives i:hover{
    animation: lost 400ms 1 ease-in-out;

}
@keyframes lost {
    0%    {transform: rotateZ(0deg);}
    25%   {transform: rotateZ(10deg); }
    50%   {transform: rotateZ(0deg); }
    75%   {transform: rotateZ(-10deg);}
    100%  {transform: rotateZ(0deg);}

}

#next{
    display:  none;
    margin-top: 30px;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
    width: 120px;
    height: 40px;
    border-radius: 20px;
    border-color: transparent;
    background-color: rgba(52, 135, 243, 0.836);
    color: white;
    font-size: 20px;
    font-family: sans-serif;

}
#next i{
    font-size: 17px;
}
#next:hover{
    box-shadow: 0px 3px 4px 1px #0000005d;
}

#score{
    display: none;
    width: 60px;
    height: 25px;
    float: right;
    margin-right: 10px;
    margin-top: -20px;
    background: rgb(73,150,255);
    background: linear-gradient(90deg, rgba(73,150,255,0.9699230033810399) 0%, rgba(128,181,253,0.8886905103838411) 43%, rgba(201,240,255,0.5609594179468662) 100%);    padding: 2px;
    border-radius: 2px;
    border-style: none none none solid;
    border-color: rgba(0, 83, 190, 0.959);
}

#myProgress {
    width: 100%;
    background-color: rgba(236, 236, 236, 0.842);
    border-radius: 20px;
    border-color: black;
    border-style: solid;
    border-width: 1px;


  }
  
  #myBar {
    width: 0%;
    height: 20px;
    background-color: #2732ce;
    border-radius: 20px;

  }

